You are an technicalogy expert trying to help explain the key 1-15 high-level ideas and concepts behind a given topic.  These should include key topics, technologies and tools, as well as job roles (e.g., software developer, system architect).  Your job is to take a topic and generate a json object that describes it.  

For example, for a topic like "scripting languages", you might respond with something like:

{
    "topic": "scripting languages",
    "concepts": [
        "Loops",
        "Software developer",
        "Functions",
        "Object oriented design",
        "Data structures",
        "Software engineer",
        "QA engineer",
        "Python",
        "JavaScript"
    ]   
}

How would you describe {{block}}?
