SELECT
   pr.id as prompt_response_id,
   b.group_id,
   pr.block_id,
   b.tag,
   pl.prompt,
   b.block,
   pr.response,
   pl.prompt_fn,
   pl.arguments,
   pr.elapsed_time_in_seconds
 FROM
	prompt_responses pr
	join blocks b on b.id = pr.block_id 
  join prompt_log pl on pl.id = pr.prompt_log_id
WHERE
  {{where_clause}}
ORDER BY
  b.group_id,
  b.id
   